@using System
@using System.Threading
@using System.Web
@{
    ViewBag.Title = "Home Page";
}
<!-- Include required JS files -->
<script type="text/javascript" src="/Scripts/SyntaxHighlighter/shCore.js"></script>

<!--
    At least one brush, here we choose JS. You need to include a brush for every
    language you want to highlight
-->
<script type="text/javascript" src="/Scripts/SyntaxHighlighter/shBrushCSharp.js"></script>

<!-- Include *at least* the core style and default theme -->
<link href="/Content/SyntaxHighlighter/shCore.css" rel="stylesheet" type="text/css" />
<link href="/Content/SyntaxHighlighter/shThemeDefault.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-md-9">
        <h2>FastLoad</h2>

        @*<button id="demo1">Demo1</button>
            <button id="demo2">Demo2</button>
            <button id="demo3">Demo3</button>*@

        <h3>Simple Plain Async</h3>
        <div class="explain">
            <h4>Code</h4>
            <pre class="brush: csharp; gutter: false;">
@Html.Raw(@"
    @Html.LoadAsync(() => ""Plain Text"")
")
        </pre>
            <h4>Result</h4>
            <div style="padding-left: 25px;">

                @Html.LoadAsync(() => "Plain Text")
            </div>
        </div>
        <h3>Current Time (Refresh Every 1 sec)</h3>
        <div class="explain">

            <h4>Code</h4>

            <pre class="brush: csharp; gutter: false;">
@Html.Raw(@"
@Html.LoadAsync(() => ""Current Time: "" + DateTime.Now.ToString(), TimeSpan.FromSeconds(1))
")
            </pre>


            <h4>Result</h4>
            <div style="padding-left: 25px;">

                @Html.LoadAsync(() => "Current Time: " + DateTime.Now.ToString(), TimeSpan.FromSeconds(1))
            </div>
        </div>
        <h3>Slow Function</h3>

        <div class="explain">

            <h4>Code</h4>
            <pre class="brush: csharp; gutter: false;">
@Html.Raw(@"
@Html.LoadAsync(() =>
{
    Thread.Sleep(2000);
    return ""After slow function you get the result..."";
})
")
            </pre>

            <h4>Result</h4>
            <div style="padding-left: 25px;">
                @Html.LoadAsync(() =>
                {
                    Thread.Sleep(2000);
                    return "After slow function you get the result...";
                })
            </div>
        </div>

        <h3>Download Wheather Info</h3>

        <div class="explain">

            <h4>Code</h4>
            

            <h4>Result</h4>
            <div style="padding-left: 25px;">
                @Html.LoadAsync(() =>
                {
                    return @"<a href=""undefined"" class=""aw-widget-legal"">
<!--
By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at http://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at http://www.accuweather.com/en/privacy.
-->
</a><div id=""awcc1429904036037"" class=""aw-widget-current""  data-locationkey="""" data-unit=""f"" data-language=""en-us"" data-useip=""true"" data-uid=""awcc1429904036037""></div><script type=""text/javascript"" src=""http://oap.accuweather.com/launch.js""></script>";
                })
            </div>
        </div>
    </div>
</div>

<script>

    SyntaxHighlighter.all()

    //$(document).ready(function() {
    //    $("#demo1").onclick(function() {
    //    });

    //});
</script>